@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,100;1,200&display=swap');
body{
    font-family: 'Sofia Sans';
    background-color: #5e84aa;
}
.tituloP {
    text-align: center;
    color:rgb(160, 158, 21);
    font-style: italic;
    font-size: 10vw;
}

.tituloP2 {
    text-align: center;
    color:rgb(160, 158, 21);
    font-style: italic;
    font-size: 10vw;
}

h2 {
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 460%;
}
h3 {
    color: black;
    text-align: center;
    font-size: 300%;
    text-transform: lowercase;
}

h4 {
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-areas: 
    "titulo titulo combobox"
    "titulo titulo combobox";
}

.grid{
    display: grid;
    grid-template-areas: 
    "titulo titulo combobox"
    "titulo titulo combobox";
}

.gridL{
    margin-left: 40%;
    grid-template-areas: 
    "usuario usuario"
    "contras contras"
    "btn btn"
    "recup account";
}

.placeUsuario{
    grid-area: usuario;
}

.placePass{
    grid-area: contras;
}

.row{
    grid-area: combobox;
}

.rowT{
    grid-area: titulo;
}

.img1{
    grid-area: img1;
    width: 30%
}

.img2{
    grid-area: img2;
    width: 30%
}

.img3{
    grid-area: img3;
    width: 30%
}

.img4{
    grid-area: img4;
    width: 30%
}

.grid2{
    display: grid;
    grid-template-areas: 
    "img1 img2"
    "img3 img4";
    row-gap: 60px;
}

.carouselExample {
    display: flex;
}

.imgCar {
    width: 27%;
    height: auto;
    margin-left: 37.5%;
}

.divPreguntas {
    margin-left: 40.5%;
    height: auto;
}
.imgCat {
    width: 250%;
    height: auto;
    margin-left: 44%;
 }
.btn1{
    width: 10%;
    font-size: 13px;
    font-family:Verdana,Helvetica;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    height: auto;
    grid-area: btn;
}
.aTituloPrinc{
    text-transform: initial;
    font-weight: bold;
    color:rgb(255, 255, 255);
    text-decoration: underline;
}
footer {
    margin-left: 44%;
}
.login{
    margin-left: 40.5%;
}
.navUl{
    margin-left: 45.5%;
}
.navA{
    text-transform: initial;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    grid-area: recup ;
}
.navB{
    text-transform: initial;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    grid-area: account;
}

@media (max-width: 800px) {
    .tittleLogin {font-size: 40px;}
    .tituloP2{font-size: 80px;}
    .grid{display: flex;}
}