#preguntas {
	input {
		font-family: $font-family_1;
		color: $color_4;
	}
	width: 100%;
	max-width: 320px;
	min-width: 100%;
	padding: 30px 30px 50px 30px;
	background-color: $background-color_3;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	box-sizing: border-box;
	opacity: 1;
	filter: alpha(opacity=1);
}
.containerF {
	display: grid;
	justify-content: center;
	padding: 4%;
}
.container {
	display: grid;
	grid-template-areas: "titulo titulo combobox" "titulo titulo combobox";
}
.containerP {
	display: grid;
}
.carouselExample {
	display: flex;
}
.divPreguntas {
	margin-left: 40.5%;
	height: auto;
}
.contenedor {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	min-width: 100vw;
	min-height: 53vh;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}
.contenedorcentrado {
	display: flex;
	align-items: center;
	flex-direction: row;
	min-width: 380px;
	max-width: 1000px;
	width: 90%;
	background-color: $background-color_2;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	padding: 30px;
	box-sizing: border-box;
}
#login {
	width: 100%;
	max-width: 320px;
	min-width: 320px;
	padding: 30px 30px 50px 30px;
	background-color: $background-color_3;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	box-sizing: border-box;
	opacity: 1;
	filter: alpha(opacity=1);
	input {
		&::placeholder {
			font-family: $font-family_1;
			color: $color_8;
		}
	}
	button {
		&:hover {
			background-color: $background-color_3;
			color: $color_5;
		}
	}
}
#derecho {
	text-align: center;
	width: 100%;
	filter: alpha(opacity=70);
	padding: 20px 20px 20px 50px;
	box-sizing: border-box;
}
h4{
	grid-area: h4;
	width: auto;
	font-size: 24px;
  }
.imgPerfil{
	grid-area: imgp;
  }
  
.divPerfil{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(6, auto);
	grid-gap: 10px;
	
	a{
	  text-decoration: none;
	}
	
	.imgP1{
	  width: 50%;
	  grid-area: imgp1;
	}
	
	.imgP2{
	  width: 50%;
	  grid-area: imgp2;
	}
	
	.imgP3{
	  width: 50%;
	  grid-area: imgp3;
	}
	
	.h4imgp{
	  grid-area: h4imgp;
	}
	
	.h4imgp1{
	  grid-area: h4imgp1;
	}
	
	.h4imgp2{
	  grid-area: h4imgp2;
	}
	
	.h4imgp3{
	  grid-area: h4imgp3;
	}
	
	grid-template-areas: 
    "imgp imgp imgp"
    "h4imgp h4imgp h4imgp"
    "imgp1 imgp2 imgp3"
    "h4imgp1 h4imgp2 h4imgp3";
	grid-template-rows: auto 1fr auto auto; /* add this */
	justify-items: center;
	align-items: center;
  }
  
  
  