$color_1: #336094;
$color_2: rgb(160, 158, 21);
$color_3: rgb(255, 255, 255);
$color_4: rgb(190, 70, 70);
$color_5: #000000;
$color_6: #3c4245;
$color_7: #1b262c;
$color_8: #E4E4E4;
$color_9: rgb(0, 0, 0);
$font-family_1: 'Roboto Slab', serif;
$background-color_1: #101b30;
$background-color_2: #336094;
$background-color_3: rgb(190, 70, 70);
$border-color_1: none;