@import "_variables.scss";
@import "_imagenes.scss";
@import "_texto.scss";
@import "_contenedores.scss";
@import "https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Sofia+Sans:ital,wght@0,100;1,200&display=swap";
body {
	background-color: $background-color_1;
}
body::-webkit-scrollbar {
	display: none;
}
input {
	font-family: $font-family_1;
	font-size: 110%;
	color: $color_7;
	display: block;
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 10px;
	box-sizing: border-box;
	border: none;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	grid-area: input;
}
button {
	font-family: $font-family_1;
	font-size: 110%;
	color: $color_9;
	width: 100%;
	height: 40px;
	border-color: $border-color_1;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	background-color: $background-color_2;
	margin-top: 10px;
	transition: 0.7s;
}

footer {
	margin-left: 44%;
}
.dropdown-menu{
	background-color: $color_4;
}

@media (max-width: 800px) {
	.tittleLogin {
		font-size: 40px;
	}
	.tituloP2 {
		font-size: 80px;
	}
	.grid {
		display: flex;
	}
	h4{
		font-size: 10px;
	}
	.imgPerfil{
		transform: scale(0.50);
	}
	
}
